.contacts-page-header {
    height: 44px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px 0;
    font-size: 20px;
    padding: 0 9px;
    margin-bottom: 20px;
    background-color: #0288d1;
}

.contacts-page-header__title {
    color: #fff;
    display: inline-block;
    padding-top: 9px;
    position: relative;
    font-size: inherit;
    margin: 0;
    line-height: inherit;
}