<div class="form-group">
  <label>
    Select contact:
  </label>
  <select
    class='form-control'
    ng-change='$ctrl.startChat()'
    ng-options="user as user.fullName for user in $ctrl.users track by user.id"
    ng-model="$ctrl.selectedUser"></select>


</div>
<div class='pre-scrollable panel panel-default' ng-if='$ctrl.selectedUser'>
  <div ng-repeat='message in $ctrl.messages'>
    <span class='text-primary'>{{message.date}}</span> <span class="text-danger">Me:</span>
    <div class="well well-sm">{{message.text}}</div>
  </div>
</div>
<div class="form-group" ng-if='$ctrl.selectedUser'>
    <textarea placeholder='Enter your message' class="form-control" rows="5" id="comment"
              ng-model='$ctrl.messageText'></textarea>
  <button ng-click='$ctrl.sendMessage()' type="button" class="btn btn-primary btn-lg"
          ng-disabled='!$ctrl.messageText'>Submit
  </button>
</div>