<p>
  <button type="button" class="btn btn-success btn-sm" ng-click="$ctrl.send()" ng-disabled="!mail.$valid">Send</button>
  <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.saveDraft()">Save & Close</button>
  <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.discard()">Discard draft</button>
</p>
<form name="mail">
  <mails-star ng-if="$ctrl.mailDraft" mail="$ctrl.mailDraft"></mails-star>
  <label class="text-danger" ng-messages='mail.email.$error'>
    <span ng-message='required'>Field is mantodory</span>
    <span ng-message='email'>Value have to be valid email</span>
  </label>
  <div class="input-group" ng-class='{"has-error": !mail.email.$valid}'>
    <span class="input-group-addon">To</span>
    <input name="email"
           ng-model="$ctrl.mailDraft.email"
           type="email"
           class="form-control"
           placeholder="Address"
           required>
  </div>
  <br>
  <label class="text-danger" ng-messages='mail.subject.$error'>
    <span ng-message='required'>Field is mantodory</span>
  </label>
  <div class="input-group" ng-class='{"has-error": !mail.subject.$valid}'>
    <span class="input-group-addon">Subject</span>
    <input name="subject"
           ng-model="$ctrl.mailDraft.subject"
           type="text"
           class="form-control"
           placeholder="Subject"
           required>
  </div>
  <br>
  <label class="text-danger" ng-messages='mail.message.$error'>
    <span ng-message='required'>Field is mantodory</span>
  </label>
  <div class='form-group' ng-class='{"has-error": !mail.message.$valid}'>
    <textarea name="message"
              ng-model="$ctrl.mailDraft.message"
              placeholder="some text"
              class="form-control"
              rows="3"
              required>
    </textarea>
  </div>
</form>